.reviewScroll::-webkit-scrollbar {
    width: 5px !important;
}
.reviewScroll::-webkit-scrollbar-thumb {
    background-color: #ccc !important;
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #000 !important;
}
.css-xrmkj5-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ff5252 !important;
}

.description-content > * {
    margin-bottom: 15px;
}

.description-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px 0;
    object-fit: contain;
    position: relative !important;
    pointer-events: none;
}

.description-content p {
    margin-bottom: 15px;
    line-height: 1.8;
}
