.btn-login {
    font-size: 18px !important;
    padding: 10px 20px !important;
}

.css-1uent87-MuiButtonBase-root-MuiButton-root {
    text-transform: none !important;
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #000 !important;
}
.css-xrmkj5-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ff5252 !important;
}

button .MuiCircularProgress-root {
    width: 20px !important;
    height: 20px !important;
}
.circ-white .MuiCircularProgress-circle {
    stroke: white !important;
}
