@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    background-color: #f5f0f0;
    color: #666;
    overflow-x: hidden;
}

p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}
::-webkit-scrollbar-thumb {
    background-color: #ff5252;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
.container {
    width: 95%;
    margin: auto;
}

.btn-org {
    background-color: #ff5252 !important;
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 20px !important;
}
.btn-org:hover {
    background-color: #171717 !important;
}

.btn-border {
    background-color: none !important;
    color: #ff5252 !important;
    border: 1px solid #ff5252 !important;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 20px !important;
}
.btn-border:hover {
    background-color: #171717 !important;
    color: #fff !important;
    border: 1px solid #171717 !important;
}
.btn-sm {
    font-size: 12px !important;
    padding: 5px 20px !important;
}

.btn-md {
    font-size: 14px !important;
    padding: 14px 12px !important;
}

.link:hover {
    color: #ff5252;
}
.icon-header:hover {
    cursor: pointer;
    color: #ff5252;
}
.MuiBadge-badge {
    background-color: #ff5252 !important ;
}
nav ul button {
    text-transform: capitalize !important;
}

.homeSwiper {
    overflow: inherit !important;
}
.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    min-width: 45px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 22px !important;
    color: #000;
}

.MuiTabs-indicator {
    background-color: #ff5252 !important;
}
.MuiTab-textColorPrimary.Mui-selected {
    color: #ff5252 !important;
}

.swiper-pagination-bullet-active {
    background-color: #ff5252 !important;
}
.MuiCheckbox-root {
    padding: 6px !important;
}
.ReactCollapse--collapse {
    transition: height 400ms;
}
.Mui-selected.MuiPaginationItem-page {
    background-color: #ff5252 !important;
    color: #fff !important;
}

.productContent .actions button {
    min-width: 40px !important;
    height: 30px !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: rgba(0, 0, 0, 0.7);
}
.productDetailsModal .MuiDialogContent-root {
    padding: 0px !important;
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #000 !important;
}
.css-xrmkj5-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ff5252 !important;
}

.cartPanel .MuiPaper-root {
    width: 400px;
    overflow: hidden;
}
button .MuiCircularProgress-root {
    width: 30px !important;
    height: 30px !important;
}

.btn-red {
    background-color: #ff5252 !important;
    color: #fff !important;
    padding: 8px 20px !important;
}
.MuiAppBar-colorPrimary {
    background-color: #e6e6e6 !important;
}
.productDetailsModal .MuiDialog-paper {
    width: 1200px !important;
    max-width: 1200px !important;
}

.zoomProductSliderThumbs.space .swiper-wrapper {
    padding-top: 38px !important;
}
.zoomProductSliderThumbs .swiper-button-next {
    bottom: 0px !important;
    right: inherit !important;
    top: inherit !important;
    width: 100% !important;
    height: 30px !important;
    border-radius: 0px !important;
}
.zoomProductSliderThumbs .swiper-button-next:after,
.zoomProductSliderThumbs .swiper-button-prev:after {
    transform: rotate(90deg);
}
.zoomProductSliderThumbs .swiper-button-prev {
    top: 20px !important;
    left: 0 !important;
    width: 100% !important;
    height: 30px !important;
    border-radius: 0px !important;
}
.inner-image-zoom--icon {
    display: none !important;
}

.MuiCircularProgress-root {
    @apply !text-primary;
}
.MuiSelect-select {
    background-color: #fff !important;
}
.MuiDialog-paper {
    background-color: #f9fafb !important;
}

.Mui-focused fieldset legend {
    display: none !important;
}
