@media only screen and (min-width: 993px) and (max-width: 1279px) {
    .container {
        width: 96%;
        max-width: 96%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1279px) {
    html,
    body {
        overflow-x: hidden;
    }
    .mobileNav a.active button {
        @apply !text-primary;
    }
    .navigation ul {
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .navigation ul::-webkit-scrollbar {
        display: none !important;
    }
    .container {
        width: 98%;
        max-width: 98%;
    }
    .css-1mf9qzl-MuiButtonBase-root-MuiTabScrollButton-root.Mui-disabled {
        display: none !important;
    }

    .scrollableBox {
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        display: block !important;
    }
    .scrollableBox::-webkit-scrollbar {
        display: none !important;
    }
    .scrollableBox .box {
        display: inline-block !important;
        vertical-align: top !important;
        margin-right: 12px !important;
        width: 300px !important;
    }
    .scrollableBox .box .info * {
        white-space: break-spaces !important;
    }
    .scrollableBox .col {
        display: inline-block !important;
        vertical-align: top !important;
        margin-right: 12px !important;
        width: 200px !important;
    }

    .btn-sm {
        padding: 3px 10px !important;
        font-size: 11px !important;
    }
    .btn-lg {
        padding: 5px 10px !important;
        font-size: 14px !important;
    }
    .btn {
        padding: 5px 10px !important;
        font-size: 12px !important;
    }
    .btn svg {
        font-size: 15px !important;
    }
    ::-webkit-scrollbar {
        width: 8px !important; /* cho cuộn dọc */
        height: 8px !important; /* cho cuộn ngang */
    }
    .sidebarWrapper.open {
        bottom: 0px !important;
        opacity: 1 !important;
    }
    .zoomProductSliderThumbs .swiper-button-next:after,
    .zoomProductSliderThumbs .swiper-button-prev:after {
        display: none !important;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .MuiTabs-flexContainer button {
        font-size: 13px !important;
    }
    .sidebar {
        max-height: 100vh !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }
    .sidebar::-webkit-scrollbar {
        display: none !important;
    }
}
@media only screen and (min-width: 450px) and (max-width: 639px) {
    .item_view_image {
        height: 430px;
        width: 70%;
        margin: 0 auto;
        border-radius: 8px;
    }
    .item_view_discount {
        left: 16%;
    }
}
