.center {
    .message {
        max-width: 70%;
        display: flex;
        gap: 20px;

        &.own {
            align-self: flex-end;

            .texts {
                align-items: flex-end;
                img {
                    width: 300px; // 👈 fix chiều ngang ảnh gửi
                }
                p {
                    color: #ffffff;
                    background-color: #1860f7;
                    word-break: break-word; // 👈 prevent long words from overflowing
                    overflow-wrap: break-word;
                }
                span {
                    align-self: flex-end;
                }
            }
        }

        .texts {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;

            img {
                width: 100%;
                max-width: 300px;
                height: 300px;
                border-radius: 10px;
                object-fit: cover;
            }

            p {
                padding: 8px 12px;
                border-radius: 10px;
                color: #414142;
                background-color: #f0f0f0;
                word-break: break-word; // 👈 key fix
                overflow-wrap: break-word;
            }
            span {
                // font-size: 13px;
                margin-top: -8px;
                align-self: flex-start;
            }
        }
    }
}

.bottom {
    button .MuiCircularProgress-root {
        width: 20px !important;
        height: 20px !important;
    }
    .circ-white .MuiCircularProgress-circle {
        stroke: white !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 464px) {
    .center {
        .message {
            .texts {
                img {
                    width: 200px !important ;
                }
            }
        }
    }
}
