.btn-login {
    font-size: 17px !important;
    padding: 7px 20px !important;
}

.css-1uent87-MuiButtonBase-root-MuiButton-root {
    text-transform: none !important;
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #000 !important;
}
.css-xrmkj5-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ff5252 !important;
}
